.card {
    width: 1772px;
    height: 1181px;
    background-image: url('demo.jpg'); /* Đường dẫn hình nền */
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(255, 0, 157);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

#card-recipient {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#card-message {
    font-size: 80px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
